.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  &__items_list {
    display: flex;
    gap: 5px;
  }

  &__page_item {
    width: 30px;
    height: 30px;
    font-family: 'Lexend Deca', serif;
    font-size: 18px;
    font-weight: 300;
    border-radius: 4px;
    display: grid;
    place-items: center;
    cursor: pointer;

    &.active {
      font-weight: 600;
      color: #fff;
      background-color: #f17900;
    }
  }

  &__btn {
    width: 20px;
    height: 20px;
  }
}
