@use '../../index.scss' as *;

.cards_list_item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  &__image {
    width: 300px;
    height: 400px;
    object-fit: cover;
    object-position: top;
  }

  &__info_wrapper {
    position: absolute;
    bottom: 0;
    transform: translateY(50%);
    width: 90%;
    padding: 16px 12px;
    z-index: 1;
    background-color: #fff;
    border: 1px solid #f0f1f1;
    display: flex;
    justify-content: space-between;
    align-items: center;

    & p {
      font-family: $lexendDeca;
      line-height: 26px;
    }
  }

  &__title {
    font-size: 17px;
    color: #393939;
    font-weight: 700;
  }

  &__artist {
    font-size: 15px;
    color: $lightOrange;
  }

  &__year {
    margin-top: 5px;
    color: #393939;
    font-weight: 500;
  }
}
