@use '../../index.scss' as *;

.sort_menu {
  display: flex;
  gap: 10px;
  align-items: center;
  padding-inline: 20px;

  &__btn {
    padding: 5px;
    width: 70px;
    text-align: center;
    background-color: #484848;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
    position: relative;

    &.active {
      border-radius: 5px 5px 0 0;
    }
  }

  &__params_list {
    display: none;
    font-size: 16px;
    border-radius: 0 0 5px 5px;
    border-top: 1px solid $lightOrange;
    background-color: #484848;
    color: #fff;
    cursor: pointer;
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    overflow: hidden;
    z-index: 1;

    &.active {
      display: block;
    }
  }

  &__list_item {
    transition: background-color 0.3s ease;
    padding: 5px;
    cursor: pointer;

    &:hover {
      background-color: #343333;
    }
  }

  @media (max-width: $mobileWidth) {
    & {
      padding: 0;
    }
  }
}
