@use '../../index.scss' as *;

.sort_menu {
  display: flex;
  gap: 10px;
  align-items: center;
  padding-inline: 20px;

  &__btn {
    padding: 5px;
    width: 70px;
    text-align: center;
    background-color: #484848;
    border: 1px solid;
    border-radius: 5px;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    transition: border-color 0.2s ease;
    position: relative;

    &.active {
      border-color: $lightOrange;
    }
  }

  &__params_list {
    transform: scaleY(0);
    transform-origin: top;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid $lightOrange;
    background-color: #484848;
    color: #fff;
    cursor: pointer;
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    overflow: hidden;
    z-index: 1;
    transition: transform 0.2s ease;

    &.active {
      transform: scaleY(1);
    }
  }

  &__list_item {
    transition: background-color 0.3s ease;
    padding: 5px;
    cursor: pointer;

    &:hover {
      background-color: #343333;
    }
  }

  @media (max-width: $mobileWidth) {
    & {
      padding: 0;
    }
  }
}
