@use '../../index.scss' as *;

.footer {
  background: #fff;
  padding: 25px 256px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: $mobileWidth) {
    $logoHeight: 42px;

    & {
      padding: 15px 32px;

      &__logo {
        width: 137px;
        height: $logoHeight;
      }

      &__modsen_logo {
        width: 120px;
        height: $logoHeight;
      }
    }
  }
}
